body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgb(255,192,203);
    color: #34282C;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}
img{
    height:250;
    width:250px;
    direction:right;
    position:center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    color:#34282C;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 2rem;
}

h2 {
    border-bottom: 1px solid #0000FF;
    padding-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
